include orangecontrib/educational/tutorials/*.ows
include orangecontrib/educational/widgets/icons/*
include orangecontrib/educational/widgets/resources/*
include orangecontrib/educational/widgets/highcharts/_highcharts/*
include README.md
